// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import "materialize";

.search-field {
  width: 80% !important;
  height: 55px !important;
}

.card {
	height: 300px !important;
	overflow: scroll !important;
}